.alert {
    padding: 0.25rem 1.25rem !important;
    margin-bottom: 0.25rem !important;
}

.list-group {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5em;
}

.list-group-item {
    background: #F7F7F7;
    padding: 0.5em;
    text-align: center;
    border-left-width: 1px !important;
    border-top-width: 1px !important;
}

.title-box {
    font-size: 20px;
    color: red;
    text-align: center;
}
.title {
    font-weight: bold;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 20px;
}

.led {
    display: flex;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: gray;
    text-items: center;
    justify-content: center;
    margin: auto;
}

.led.active {
    -webkit-animation: bgcolorchange 1s infinite;
    animation:1s infinite bgcolorchange;
}
@keyframes bgcolorchange {
    0% {
        background-color: green;
    }
    25% {
        background-color: gray;
    }
    50% {
        background-color: green;
    }
    75% {
        background-color: gray;
    }
    100% {
        background-color: green;
    }
}

.led-text {
    padding: 37px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}