<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- bootstrap: ensure proper rendering -->
    <title>WasteServiceStatusGUI</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="images/arrow.png" type="image/x-icon">
</head>
<body>

<div class="container-title">
    <h1>WasteServiceStatusGUI</h1>
</div>

<!-- CONTAINER del contenuto di pagina -->
<div class="container-data">

    <!-- Connessione alle porte -->
    <form method="post" action="setip">
        <div class="connection-container">
            <div class="connection-card">
                <label for="ip_ws">Indirizzo Waste Service</label>
                <input type="text" id="ip_ws" name="ip_ws" value="localhost">
            </div>
            <div class="connection-card">
                <label for="port_ws">Porta Waste Service</label>
                <input type="text" id="port_ws" name="port_ws" value="8025">
            </div>
            <div class="connection-card">
                <label for="ip_led">Indirizzo Led</label>
                <input type="text" id="ip_led" name="ip_led" value="192.168.1.123">
            </div>
            <div class="connection-card">
                <label for="port_led">Porta Led</label>
                <input type="text" id="port_led" name="port_led" value="8030">
            </div>
            <div class="connection-card" >
                <input class="submit-button" type="submit" value="Connect">
            </div>
        </div>
    </form>


    <!-- INVIA RICHIESTA -->
    <div class="container-fluid text-black text-center" style="margin-top: -25px;">
        <h3 style="text-align: center; font-size: 35px;">Send a new waste request</h3>
        <div class="container-request">
            <h3>Pick a meterial</h3>
            <input type="hidden" id="type" value="palstic">
            <div class="select-box">
                <div class="option" id="option1" data-value="plastic">
                    <img src="./images/icon_plastic.jpg" alt="plastic">
                </div>
                <div class="option" id="option2" data-value="glass">
                    <img src="./images/icon_glass.jpg" alt="glass">
                </div>
            </div>
            <label for="quantity">Insert a quantity</label>
            <input type="number" id="quantity" name="quantity" value="">
            <div>
                <button class="request-button" onclick="sendloadreq()">Send a request<img src="./images/arrow.png"/></button>
            </div>
        </div>

        <script>
            const options = document.querySelectorAll('.option');
            options.forEach(option => {
                option.addEventListener('click', function() {
                    options.forEach(opt => opt.classList.remove('selected'));
                    this.classList.add('selected');
                    const selectedValue = this.getAttribute('data-value');
                    document.getElementById('type').value = selectedValue;
                });
            });
        </script>


        <!-- the form-data is sent to the page specified in the action attribute -->
        <div style='align-items: center; text-align: center; justify-content: center;'>
            <h3>Status request</h3>
            <input type="text" id="response" readonly="readonly" value="" />
        </div>

        <div id="free_indoor" class="alert">The Waste Truck has left the INDOOR area!</div>

        <!-- INVIO SONAR -->
        <!-- <div>
            <label for="distance" >Distance</label>
            <input type="text" id="distance" name="distance" value="">
        </div>

        <div style='margin-top:10px;'>
            <input type="button" value="Invio Distance" onclick="sendstopresume()">
        </div> -->
    </div>

    <div class="card-div">

        <div class="card-container">
            <!-- STATUS TROLLEY -->
            <div class="card">
                <div class="card-state">
                    <h3>Trolley status</h3>
                    <p id="trolley_status">IDLE</p>
                </div>
            </div>

            <!-- POSIZIONE TROLLEY -->
            <div class="card">
                <div class="card-state">
                    <h3>Trolley position</h3>
                    <p id="trolley_position">HOME</p>
                </div>
            </div>
        </div> <!-- card container -->

        <!-- LED -->
        <div class="led-container">
            <h3>Led status</h3>
            <div class="led">
                <p class="status-le" id="led">OFF</p>
            </div>
        </div>

        <div class="card-container">
            <!-- PLASTIC CONTAINER -->
            <div class="card">
                <div class="card-state">
                    <h3>Plastic container capacity</h3>
                    <div style="display: flex; flex-direction: row; align-items: center; justify-content: center; margin-top: -20px;"><p id="container_p">0</p><p style="color: black;">/500</p></div>
                </div>
            </div>

            <!-- GLASS CONTAINER -->
            <div class="card">
                <div class="card-state">
                    <h3>Glass container capacity</h3>
                    <div style="display: flex; flex-direction: row; align-items: center; justify-content: center; margin-top: -20px;"><p id="container_g">0</p><p style="color: black;">/500</p></div>
                </div>
            </div>
        </div>    <!-- card container -->
    </div> <!-- card div -->

    <footer>
        <hr/>
        <div class="footer clearfix mb-0 text-muted">
            <div class="float-end">
                <p style="align-text: center">By Filippo Bignami, Davide Greco, Niccolò Rosadi</a> </p>
            </div>
        </div>
    </footer>


</div> <!-- container data -->


<!-- <script src="../static/jquery.min.js"></script> -->
<script src="sockjs.min.js"></script>
<script src="ajax_loadreq.js"></script>
<script src="ioutils.js"></script>
<script src="wsminimal.js"></script>
<script>connect()</script>  <!-- connect definita in wsminimal-->
</body>
</html>